mat-card {
    background-color: #3F51B5;
    cursor: pointer;
    width: 15rem;
    height: 3.5rem;
    
}

span {
    color: white;
    font-size: 1.1rem;
}

mat-icon {
    color: white;
    transform: scale(1.4);
}
