<div class="row">
    <div class="col">
        <div class="row">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
        <div class="row">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8">
    
            <ng-container matColumnDef="Marketplace">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                Marketplace
                </th>
                <td mat-cell *matCellDef="let element"> {{element.marketplace}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Avaliacao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Avaliação do Marketplace
                </th>
                <td mat-cell *matCellDef="let element"> {{element.avaliacao}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                Nome do Produto
                </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Preco">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                Preço
                </th>
                <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Link">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                Link
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary">
                        <!-- {{element.link}} -->
                        Visitar
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-title>
                Dados do Produto
            </mat-card-title>
            <mat-card-content>
                Asus ROG Strix RTX 3060 Ti V2 8GB GDDR6 OC Edition LHR - Com Fatura
                <br>
                <br>
                Preço: 775 €
                <br>
                <br>
                Asus ROG Strix GeForce RTX 3060 Ti V2 8GB GDDR6 OC
                <br>
                Edition LHR
                <br>
                Considerada uma das melhores Placas da Atualidade, relação
                Preço/Qualidade
                <br>
                <br>
                Fatura e Garantia
                <br>
                <br>
                Motor Gráfico: NVIDIA® GeForce® RTX 3060 Ti
                <br>
                Bus: PCI Express 4.0 16x
                <br>
                Clore Clock: Base: 1410 MHz, Boost: 1890 MHz
                <br>
                Clock de Memória: 14 Gbps
                <br>
                Núcleos CUDA: 4864
                <br>
                Memória: 8GB GDDR6
                <br>
                Interface de Memória: 256 Bits
                <br>
                Interface 1/0:
                <br>
                3 x DisplayPort 1.4
                <br>
                2 x HDMI 2.1
                <br>
                Suporte HDCP 2.3
                <br>
                Versão DirectX: 12
                <br>
                Versão OpenGL: 4.6
                <br>
                Dimensões do produto: 31.85 x 14.01 x 5.78 cm
                <br>
                <br>
                Entrego em Mãos em Vila do Conde e Matosinhos
                <br>
                <br>
                PREÇO FIXO
            </mat-card-content>
            <button mat-stroked-button color="primary" class="cont_btn">
                Contactar
            </button>
        </mat-card>
    </div>
</div>
