<div class="row">
    <div class="col">
        <div class="row">
            <ngx-gallery #gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
        <div class="row">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8">
    
            <ng-container matColumnDef="marketplace">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                Marketplace
                </th>
                <td mat-cell *matCellDef="let element"> {{element.marketplace}} </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                Nome do Produto
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                Preço
                </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
            
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>
                Link
                </th>
                <td mat-cell *matCellDef="let element">
                    <a href="{{element.link}}">
                        <button mat-raised-button color="primary">
                            Visitar
                        </button>
                    </a>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[2, 5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>
    <div class="col">
        <mat-card class="prod-info">
            <mat-card-title>
                <h1>
                    {{product.name}}
                </h1>
            </mat-card-title>
            <mat-card-content>
                <mat-chip-list>
                    <mat-chip color="accent" *ngFor="let cat of product.category" selected>{{cat}}</mat-chip>
                </mat-chip-list>
                <br>
                <b>Price: </b> {{product.price}}             
                <br>   
                <br>   
                <b>Description: </b><span style="white-space: pre-line">{{product.description}}</span>                 
                <br>
                <br>   
                <b>Location: </b> {{product.location}}                
                <br>
                <br>
                <div *ngIf="product.negotiable">
                    <p><b>Negotiable</b></p>
                </div>
            </mat-card-content>
            <button mat-stroked-button color="primary" class="cont_btn">
                Contactar
            </button>
        </mat-card>
    </div>
</div>
