<form [formGroup]="form" (submit)="submit()" >

    <div class="row">
        
        <div class="col-6">
            <div class="row">
                <mat-form-field  appearance="outline">
                    <mat-label>Título</mat-label> 
                    <input matInput style="width:100%" formControlName="titulo" placeholder="Título">
                    <mat-error *ngIf="titulo?.hasError('required')">Preencha um titulo</mat-error>

                </mat-form-field> 
            </div>

            <div class="row">
                <mat-form-field appearance="outline" style="width: 50%;">
                    <mat-label>Preço(€)</mat-label> 
                    <input matInput style="width: 25%;" formControlName="preço" placeholder="Preço(€)">
                    <mat-error *ngIf="preco?.hasError('required')">Defina um preço</mat-error>
                    <mat-error *ngIf="preco?.invalid && !preco?.hasError('required')">Preço inválido</mat-error>
                </mat-form-field>
                <mat-checkbox id="Negiciavel" formControlName="negociavel">Negociavel</mat-checkbox>
            </div>
            
            <div class="row">
                <mat-card>
                    <img src="assets/img/white-grafica.png" id="img" alt="">
                    <img src="assets/img/white-grafica.png" id="img" alt="">
                    <img src="assets/img/white-grafica.png" id="img" alt="">
                    <img src="assets/img/white-grafica.png" id="img" alt="">
                    <img src="assets/img/white-grafica.png" id="img" alt="">
                    <img src="assets/img/white-grafica.png" id="img" alt="">
                </mat-card>
            </div>
            
            <div class="row">
                <mat-form-field appearance="outline">
                    <!-- <textarea matInput style="width:100%" formControlName="descricao" placeholder="Descrição"></textarea> -->
                <mat-label>Distrito</mat-label>                

                <input type="text" matInput [matAutocomplete]="auto" (input)="onLocationInput()"
                    (keydown.enter)="applyLocation()" formControlName="local" >
                <mat-icon matSuffix style="transform: scale(1.1);">pin_drop</mat-icon>
                <mat-error *ngIf="local?.invalid && !local?.hasError('required')">Distrito inválido</mat-error>
                
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let district of filteredOptions | async" [value]="district">
                            {{ district }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="row">

                <mat-form-field appearance="outline">
                    <!-- <textarea matInput style="width:100%" formControlName="descricao" placeholder="Descrição"></textarea> -->
                    <mat-label>Categoria</mat-label>                

                    <input type="text" matInput [matAutocomplete]="auto2" (input)="onCategoryInput()"
                        (keydown.enter)="applyCategory()" formControlName="categoria" >
                        <mat-icon matSuffix style="transform: scale(1.1);">category</mat-icon>
                        <mat-error *ngIf="categoria?.invalid && !categoria?.hasError('required')">Categoria inválida</mat-error>
                    
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let categoria of filteredOptions2 | async" [value]="categoria">
                                {{ categoria }}
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>

            </div>
                
            <mat-checkbox  formControlName="promover">Promover</mat-checkbox>
                
            <div class="row mt-4 mb-1 mx-auto">
                <button mat-raised-button color="accent" type="submit" mat-button>Criar</button>
                <button mat-raised-button color="accent" (click)="clear()" mat-button>Cancelar</button>
            </div>
        
            
        </div>

        <div class="col-4">
            <!-- Descriçao do produto -->
            <mat-card id="Descriçao">
                <mat-card-title>
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon> 
                    </button>
                    Descrição
                </mat-card-title>
                    <textarea matInput formControlName="descriçao" id="Texto" placeholder="Descrição"></textarea>
            </mat-card>
        </div>
    </div> 
</form>