<div class="row">
    <div class="col-6">  
        <input matInput id="Titulo" placeholder="Título">
        <input matInput id="Preço" placeholder="Preço">
        <mat-checkbox>Negociavel</mat-checkbox>

        <div class="row">
            <mat-card>
                <img src="assets/img/white-grafica.png" id="img" alt="">
                <img src="assets/img/white-grafica.png" id="img" alt="">
                <img src="assets/img/white-grafica.png" id="img" alt="">
                <img src="assets/img/white-grafica.png" id="img" alt="">
                <img src="assets/img/white-grafica.png" id="img" alt="">
                <img src="assets/img/white-grafica.png" id="img" alt="">
            </mat-card>
        </div>
        <form>
            ola
        </form>
        
    </div>

    <div class="col-4">
        <!-- Descriçao do produto -->
        <mat-card id="Descriçao">
            <mat-card-title>Descrição</mat-card-title>
            <mat-card-content>
                <textarea matInput id="Descriçao_t" placeholder="Descrição"></textarea>
            </mat-card-content>
        </mat-card>
    </div>
</div>
