<mat-toolbar color="primary">
    <div class="col-3">
        <div class="row">
            <div class="col-1 mx-3">
                <a mat-button routerLink="/home" (click)="resetSearchBar()"><img src="assets/logo.png" style="height: 2.5rem;"></a>
            </div>

            <div class="col mx-4 my-auto">
                <span>Bom e Barato</span>
            </div>
        </div>
    </div>

    <div class="col-4"></div>

    <div class="col">
        <button *ngIf="loggedIn" mat-raised-button color="accent" style="border-radius: 20px;" routerLink="/ad">
            Criar Anúncio&nbsp;&nbsp;<mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="col">
        <button *ngIf="loggedIn" mat-raised-button color="accent" style="border-radius: 20px;" routerLink="/chat">
            Ver Mensagens&nbsp;&nbsp;<mat-icon>chat</mat-icon>
        </button>
    </div>

    <div style="width: 50px;"></div>

    <div class="col-1">
        <button *ngIf="!loggedIn" mat-button (click)="redirectLogin()">Login<mat-icon>login</mat-icon></button>
        <button *ngIf="loggedIn" mat-button>Perfil<mat-icon>account_circle</mat-icon></button>
    </div>

    <div class="col-1 mr-4">
        <button *ngIf="!loggedIn" mat-button (click)="redirectRegister()">Registo<mat-icon>app_registration</mat-icon></button>
        <button *ngIf="loggedIn" mat-button (click)="logout()">Logout<mat-icon>exit_to_app</mat-icon></button>
    </div>
</mat-toolbar>

<div class="row w-100">
    <div style="width: 4vw;"></div>

    <div class="col justify-content-center">
        <app-search-bar></app-search-bar>
        
        <router-outlet></router-outlet>
    </div>

    <div style="width: 4vw;"></div>
</div>
