<mat-toolbar color="primary">
    <div class="col-3">
        <div class="row">
            <div class="col-1 mx-3">
                <a mat-button routerLink="/home"><img src="assets/logo.png" style="height: 2.5rem;"></a>
            </div>

            <div class="col mx-4 my-auto">
                <span>Bom e Barato</span>
            </div>
        </div>
    </div>

    <div class="col"></div>

    <div class="col-1">
        <button mat-raised-button color="accent" style="border-radius: 20px;" routerLink="/ad">
            CRIAR ANÚNCIO
        </button>
    </div>

    <div style="width: 50px;"></div>

    <div class="col-1">
        <button mat-button (click)="redirectLogin()">
            LOGIN
            <mat-icon>login</mat-icon>
        </button>
    </div>

    <div class="col-1 mr-4">
        <button mat-button (click)="redirectRegister()"> 
            REGISTO
            <mat-icon>app_registration</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="row w-100">
    <div style="width: 4vw;"></div>

    <div class="col justify-content-center">
        <app-search-bar></app-search-bar>
        
        <router-outlet></router-outlet>
    </div>

    <div style="width: 4vw;"></div>
</div>
