<mat-card [class.mat-elevation-z2]="!isActive1" [class.mat-elevation-z8]="isActive1"
    (mouseenter)="isActive1 = true" (mouseleave)="isActive1 = false" (click)="open_product()">
    <span style="white-space: pre-line" class="text-center">{{setName(data)}}</span> 

    <img src="{{getImage(data)}}">
    <mat-divider inset></mat-divider>

    <mat-card-actions class="w-100">
        <div class="row">
            <p class="text-center">{{data.marketplace}}</p>
        </div>
        <div class="row justify-content-center">
            <button mat-raised-button color="primary" (click)="open_product()">{{getPrice(data)}} €</button>
        </div>
    </mat-card-actions>
</mat-card>
