<div class="row d-flex justify-content-center w-100" style="height: 70vh;">
    <div *ngIf="loading" class="my-auto">
        <mat-spinner class="mx-auto"></mat-spinner>
    </div>

    <div *ngIf="!loading">
        Pesquisar: {{filterValue}}

        <div class="row">
            <div class="col-2">
                <div class="row">
                    <button class="filter-button" mat-raised-button color="primary" (click)="filter()">
                        Filter
                    </button>
                </div>
                <div class="row mb-3">
                    <mat-card class="filter-card mat-elevation-z2">
                        <h1>Preço</h1>
                        <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="chosen_price_range">
                            <mat-radio-button class="example-radio-button" *ngFor="let price of price_ranges" [value]="price">
                                {{price}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <form class="example-form">
                            <div class="row"> 
                                <div class="col-3">
                                    <mat-form-field id="min-max-field" appearance="fill">
                                        <input type="text" matInput placeholder="Min.">
                                        <span matSufix>€ &nbsp;</span>
                                    </mat-form-field>
                                </div>
                                <div class="col-1">
                                    <span></span>
                                </div>
                                <div class="col-3">
                                    <mat-form-field id="min-max-field" appearance="fill">
                                        <input type="text" matInput placeholder="Máx.">
                                        <span matSufix>€ &nbsp;</span>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </div>
    
                <div class="row">
                    <mat-card class="filter-card mat-elevation-z2"  >
                        <h1>Vendedores</h1>
                        <section class="example-section" [formGroup]="sellers">
                            <h4>Select your toppings:</h4>
                            <p><mat-checkbox formControlName="custojusto">Custo Justo</mat-checkbox></p>
                            <p><mat-checkbox formControlName="ebay">eBay</mat-checkbox></p>
                            <p><mat-checkbox formControlName="olx">OLX</mat-checkbox></p>
                            <p><mat-checkbox formControlName="amazon">Amazon</mat-checkbox></p>
                        </section>
                    </mat-card>
                </div>
            </div>
    
            <div class="col">       
                <mat-grid-list cols="4" rowHeight="1:1.45" [gutterSize]="'10px'">
                    <mat-grid-tile *ngFor="let prod of products">
                        <app-product class="mx-auto" style="width: 90%" [data]="prod"></app-product>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>
</div>

